@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>kill students kill teachers i love school shootings i hate america death to usa wagner 2024</p>
    </div>

    <div class="col-md-4">
        <h2>awesome</h2>
        <p>find awesome beheadings at: <a href="https://www.awesomebeheadings.com">https://www.awesomebeheadings.com</a></p>
        <img src="~/img/stupidsquid.jpg"/>
    </div>
</div>